# Node modules for both client and server
client/node_modules/
server/node_modules/

# Build outputs
client/build/
server/dist/

/

# OS system files
.DS_Store
Thumbs.db

# dotenv environment variables
client/.env
server/.env

